<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests Suite">

    <listeners>
        <listener class-name="listeners.AllureTestListener"/>
    </listeners>

    <test name="UI Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>

</suite>
